@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Prompt&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Prompt";
}

.product-cart {
  display: flex;
  margin: 1rem auto;
  padding: 1rem 0;
}

.productCard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  margin: 1rem;
}

.card-actions {
  align-items: center;
}
